table  { 
color: black;
border-color: black;
}


.science{
	background-color: yellow;
}

.math{
	background-color: CornflowerBlue;
}

.english{
	background-color: LightGrey;
}
.french{
	background-color: lightblue;
}

.religion{
	background-color: Khaki;
}

.Hr{
	background-color: Tan;
}

.computer-programing{
	background-color: Plum;
}

.theater-arts{
	background-color: violet;
}

.history{
	background-color: RosyBrown;
}

.gym{
	background-color:PaleGreen;
}

.speech{
	background-color:coral;
}

h1 {
	text-align: center;
	font-weight: bold;
}

.Ntg{
	background-color:black;
}

.Advisors{
	background-color: DarkSalmon;
}

.day1{
	height: 2px;
	width: 8px;
}

.day2{
	height: 2px;
	width: 8px;
}

.day3{
	height: 2px;
	width: 8px;
}

.day4{
	height: 2px;
	width: 8px;
}

.day5{
	height: 2px;
	width: 8px;
}

.day6{
	height: 2px;
	width: 8px;
}

.day7{
	height: 2px;
	width: 8px;
}

.day8{
	height: 2px;
	width: 8px;
}

.A1{
	height: 2px;
	width: 8px;
}

.A3{
	height: 2px;
	width: 8px;
}

.A6{
	height: 2px;
	width: 8px;
}
#mySearch{
 width: 40%;
 padding: 10px 20px 10px 40px;
}
 
#myInput {
    background-image: url('fa fa-search'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 60%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 10px 20px 10px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}




}                               